.so-widget-sow-image-default-9e7b621efa2e .sow-image-container {
  text-align: left;
}
.so-widget-sow-image-default-9e7b621efa2e .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: inherit;
  height: auto;
}